html{ margin:0; padding:0; height:100%; width:100%; overflow:hidden;}
body{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  overflow-y: hidden;
  color: black;
  text-align: center;
  align-items: center !important;
  overflow:hidden;
  overflow-y: scroll;
}
.auto{
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px !important;
  margin-top: 10px !important;
}
